<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wisc.virgil.virgil">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_virgil"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".MuseumGallery"
            android:label="@string/museum_exhibition"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".museumSelectActivity"
            android:label="@string/museum_select"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".Splash"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Beacon"
            android:screenOrientation="portrait">
        </activity>


    </application>
</manifest>
